<div class="main-info">
  <h1>Welcome!</h1>
  <form class="signup-form" method="post" action="/auth/login">
    <div class="label-input">
      <label>User</label>
      <input name="username" type="text" />
    </div>
    <div class="label-input">
      <label>Password:</label>
      <input name="password" type="password" />
    </div>

    <button class="button-10" type="submit">LOG IN</button>
  </form>
  <% if (typeof errorMessage !== "undefined") { %>
  <h4><%- errorMessage %></h4>
  <% } %>
</div>
