<div class="main-info">
  <h1>Create your user</h1>
  <form class="signup-form" method="post" action="/auth/signup">
    <div class="label-input">
      <label>User</label>
      <input name="username" type="text" />
    </div>
    <div class="label-input">
      <label>Password </label>
      <input name="password" type="password" />
    </div>
    <h6 class="pass-info">password must meet complexity requirements</h6>

    <button class="button-10" type="submit">SIGN UP</button>
  </form>
  <% if (typeof errorMessage !== "undefined") { %>
  <h6 class="err"><%- errorMessage %></h6>
  <% } %>
</div>
