<div class="main-info d-flex flex-column align-items-center">
  <h1 style="width: 90%; text-align: center">
    WELCOME TO THE BEST TASK MANAGER
  </h1>
  <p style="width: 90%; text-align: center">
    This app will help you improve your time management and keep track of your
    tasks everyday
  </p>
  <a style="width: 30%" class="button-10" href="/auth/signup"
    >Start using ToDo</a
  >
</div>
