<div class="main-info d-flex flex-column align-items-center">
  <h1 style="width: 90%; text-align: center">
    WELCOME TO THE BEST TASK MANAGER
  </h1>
  <p class="index-text" style="width: 90%; text-align: center">
    This app will help you improve your time management and keep track of your
    tasks everyday. Plan, manage and track all your team's tasks in one
    easy-to-use platform. It's totally free!
  </p>
  <a class="button-10" href="/auth/signup">START USING ToDo!</a>
</div>
